<ul>
  {% for item in include.collection %}
    <li>
      <a href="{{ item.url }}">
        {{- item.name -}}
      </a>
      {%- if item.description %} — {{ item.description }}{% endif %}

      {% if item.subitems -%}
        <ul>
          {% for subitem in item.subitems %}
            <li>
              <a href="{{ subitem.url }}">
                {{- subitem.name -}}
              </a>
              {%- if subitem.description %} — {{ subitem.description }}{% endif %}
            </li>
          {% endfor %}
        </ul>
      {%- endif %}
    </li>
  {% endfor %}
</ul>
