---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color              : #214214 !default;

// oh gad what I done; faq:
// why use bootstrap here instead of <link>ing to CDN'd one?
//   <link> in _includes/head/custom.html would be added after main.css and
//   override some defaults. same reason we do all this importing before
//   minimal-mistakes
// why such roundabout import paths? should be just "bootstrap/.*" you know
//   I couldn't do it any other way; sass.load_paths in _config.yml looks
//   ignored. feel free to fix if you can
// why not just import root.sass?
//   smoler css
@import "../../bootstrap-5.2.0/assets/stylesheets/bootstrap/_functions";
@import "../../bootstrap-5.2.0/assets/stylesheets/bootstrap/_variables";
@import "../../bootstrap-5.2.0/assets/stylesheets/bootstrap/_maps";
@import "../../bootstrap-5.2.0/assets/stylesheets/bootstrap/_mixins";
@import "../../bootstrap-5.2.0/assets/stylesheets/bootstrap/_utilities";
@import "../../bootstrap-5.2.0/assets/stylesheets/bootstrap/_progress";
// done, time to wash hands

@import "minimal-mistakes"; // main partials

.masthead, .masthead .greedy-nav {
  background-color: #f8f8f8;
}

.lang-switcher {
  -ms-flex-item-align: center;
  align-self: center;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  .greedy-nav & {
    margin-right: 0;
  }
}

.lang-icon {
  display: inline-block;
  fill: currentColor;
  width: 1.4em;
  height: 1.1em;
  line-height: 1;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

address {
  font-size: 0.75em;
  text-align: center;
  font-style: normal;
}

#biggus-tablus table {
  width: 100%;

  td, th {
    &:nth-child(2) {
      width: 100%;
    }
  }
}
