name: Build and deploy Jekyll site to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - ci

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Build website
        run: |
          docker build . --tag "chombo:latest"
          mkdir __build
          id=$(docker create "czombo:latest")
          docker cp "$id:/usr/share/nginx/html/." ./__build
          docker rm -v $id
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GHTOKEN }}
          publish_dir: ./__build
